
html,body{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
  }
body {
    background: url(../asset/网页底图.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
  }

button {
    display: block;
    width: 80%;
    margin: 5% auto;
    outline: none;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: #f0cc6b;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

#upload-input {
    opacity: 0;
    filter: alpha(opacity=0);
    display: inline-block;
    width: 100%;
    height: 100%;
}

#upload-text {
    position: relative;
    bottom: 40px;
    user-select: none;
}
.divSquare{
    width: 45%;
    height: 5EM;
    margin: 2%;
    border: 1px solid white;
    float: left;
    MARGIN-TOP: 10%;
}
.red{
    background-color:  #f0cc6b;
}
.yellow{
    background-color: #fae2a2;
}

.blue{
    background-color: #e5e17d;
}
.green{
    background-color: #d3c49a;
}

.logo {
    margin-top: 20%;
    text-align: center;
}
.logo img{
    height: 40px;
    width: auto;
}

.text {
    text-align: center;
    margin-top: 20%;
}
.text img{
    height: 40px;
    width: auto;
}

.arrow {
    text-align: center;
}
.arrow img{
    height: 40px;
    width: auto;
}

.letter {
    text-align: center;
    margin-top: -10%;
}
.letter img{
    height:300px;
    width: auto;
}



 .one, .two, .three, .four{
    display: none;
 }

.picture{
    text-align: center;
    position: absolute;
    width: 100%;
}

.picture img{
    height: auto;
    width: 80%;
}

.pizzle{
    background-size: cover;
    background-image: url(../asset/拼图底图.png);
}